# Pandas 실습
% Pandas in inflearn

## Pandas가 설치 여부 확인

In [16]:
!conda list | grep pandas

pandas                    0.24.2           py37hf484d3e_0    conda-forge
pandas-profiling          1.4.2                      py_0    conda-forge

## Pandas 불러들이기(import)

In [17]:
import pandas as pd

## Pandas에서 file 불러들이기
* pd.read_csv()

    CSV 뿐만 아니라 txt file도 불러올 수 있다.  
    
    1) delimiter  
    2) header = None : header가 없을 때   
    3) names = header를 직접 입력할 수 있다.

In [4]:
!pwd

/home/mdsung/decart_linear_algebra_2019/day2

In [5]:
!ls ../../DATA/Misc/

Accidents7904.csv		 doid.obo	 pah_comorbidities.txt
bmi_faculty_papers_details.json  icd9-short.txt  seinfeldFood.sqlite
carotid.txt			 obits.txt

In [22]:
data_frame = pd.read_csv("../../DATA/Misc/Accidents7904.csv")

In [ ]:
data_frame.columns

## Dataframe 탐색하기
* dataframe.head()
* dataframe.tail()

In [8]:
data_frame.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,197901A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
1,197901A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
2,197901A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,3,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
3,197901A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
4,197901A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN

하나의 column을 series라고 한다. 
Data.frame은 series의 모임이다.

In [10]:
data_frame.tail(2)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
6224196,2004984164304,306400.0,605130.0,-3.476987,55.331314,98,2,1,2,27/12/2004,...,0,0,6,5,2,0,0,2,1,NaN
6224197,2004984164804,320150.0,569440.0,-3.250229,55.013104,98,3,1,1,28/12/2004,...,0,0,6,1,2,0,0,2,1,NaN

In [11]:
type(data_frame.Accident_Index)

pandas.core.series.Series

In [13]:
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(["One","Two","Three"])

In [14]:
pd.DataFrame(data=dict(num=s1, word=s2))

   num   word
0    1    One
1    2    Two
2    3  Three

## Dataframe 생성
* pd.dataframe(list변수)
  
1) dictionary  
2) ordered dictionary  
3) list

In [25]:
friend_dict_list = [
    {'name':"John", "age" : 25, "job" : "student"},
    {'name':"Nate", "age" : 30, "job" : "teacher"}
]

In [29]:
df = pd.DataFrame(friend_dict_list)
df.head()

   age      job  name
0   25  student  John
1   30  teacher  Nate

In [31]:
df = df[['name','age','job']]
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [32]:
from collections import OrderedDict

In [33]:
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Nate']),
        ('age',[25,30]),
        ('job',['student','teacher'])
    ]
)

In [34]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [35]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [39]:
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]

In [40]:
column_name = ['name','age','job']

In [41]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [42]:
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [45]:
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', [20,30]],
    ['job', ['student','teacher']]
]

In [46]:
df = pd.DataFrame.from_items(friend_list)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

In [47]:
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

## file 저장
* dataframe.to_csv("filename", index = Ture, header = True, na_rep = "-")  
1) index는 맨앞에 colume에 index 붙이는 여부  
2) header는 맨위의 row에 colume name을 붙이는 여부  
3) na_rep는 none 값을 어떻게 저장할 것인지 설정

In [49]:
df.to_csv("df.csv")

In [50]:
!ls

 df.csv			  PandasPractice.ipynb
 LADay2Problems.md	  patient_similarity_all.ipynb
 mindong@103.22.220.149   patient_similarity.ipynb
'Module package.ipynb'	  patient_similarity-np.ipynb
 Note2.ipynb		  representing_matrices.ipynb
 Note3.ipynb		  representing_matrices.py
 NumpyPractice.ipynb	 'Sympy Practices.ipynb'

## dataframe 행 열 선택 및 필터하기

In [52]:
df[1:3]

   name  age      job
1  Nate   30  teacher

In [56]:
df.loc[[0,2]]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

   name   age      job
0  John  20.0  student
2   NaN   NaN      NaN